---
import Header2 from "../components/Header2.astro";
import Statement from "../components/Statement.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css'
const pageTitle = "About";
---
<meta charset="UTF-8">
<head>
	<title>ES@P</title>
</head>
<body>
	<Header2 />
	<br />
	<br />
	<br />
	<br />
	
	<Statement
    text="Founded in 2025 at Purdue University, the purpose of ES@P is to provide a collaborative platform for students to explore, develop, and excel in the field of embedded systems. ES@P aims to bridge the gap between academic learning and industry expectations, equipping members with the technical knowledge and hands-on skills necessary to succeed in their careers."
	/>

	<br />
	<br />
	<br />
	<br />

    <h1>Officer Board 2025</h1>
    <h1>Project Managers</h1>
    <h1>Active Members</h1>

    <Footer />
</body>