---
import Header2 from "../components/Header2.astro";
import Statement from "../components/Statement.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css'
const pageTitle = "About";
---
<meta charset="UTF-8">
<head>
	<title>ES@P</title>
</head>
<body>
	<Header2 />
	<br />
	<br />
	<br />
	<br />
	
	<Statement
        size="2"
        text="Thank you to our 2025 sponsors!"
    />

	<br />
	<br />
	<br />
	<br />

	
    <Statement
        text="Intereseted in a collaborative project or sponsorship? Send an email to esap@purdue.edu to discuss."
    />

    <Statement
        text="Interested in joining a project team? Contact the project manager on Discord."
    />

    <Footer />
</body>