---
import Header2 from "../components/Header2.astro";
import Statement from "../components/Statement.astro";
import Footer from "../components/Footer.astro";
import ImageAndText from "../layouts/ImageAndText.astro";
import '../styles/global.css'
import exec2025Pic from "../media/exec2025.jpeg";
const pageTitle = "Home Page";
---
<meta charset="UTF-8">
<head>
	<title>ES@P</title>
	<style>
		p {
			font-size: 2rem;
		}
	</style>
</head>
<body>
	<Header2 />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	
	<Statement
    text="From classroom to career–we've got you covered."
	/>
	<Statement
		text="We bridge the gap between academic instruction and industry demands. Through hands-on projects, workshops, and professional development, we equip our members with the skills to thrive in embedded systems."
	/>
	<Statement
		text="Build. Learn. Lead. Your future starts here. 🚀"
	/>

	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<ImageAndText
		text="Our projects are sure to wow! Work on technical projects as as an Active Member or Project Manager of your own team."
		linkText="See available positions."
		link="/workshops"
		imageSrc={exec2025Pic}
		align="left"
	/>

	<ImageAndText
		text="Workshops and courses give you the edge you need. Bridge the gaps in your knowledge with the industry's most sought-after skills"
		linkText="See upcoming workshops."
		link="/workshops"
		imageSrc={exec2025Pic}
		align="right"
	/>

	<ImageAndText
		text= "Boost your career with professional development sessions designed to sharpen your résumé, refine your interview skills, and expand your network."
		imageSrc={exec2025Pic}
		align="left"
	/>

	
	<br />
	<br />
	<br />

	<p> Join our <a href="">Discord</a> to learn more.</p>

	<br />
	<br />
	<br />

	<Footer />
</body>