---
import Header2 from "../components/Header2.astro";
import Statement from "../components/Statement.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css'
const pageTitle = "About";
---
<meta charset="UTF-8">
<head>
	<title>Workshops</title>
</head>
<body>
	<Header2 />
	
	<h1>Workshop Schedule</h1>

    <Footer />
</body>